{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1 class="page-header text-center">Connexion</h1>
    <h2>Utilisateur</h2>
    <h2>Mot de Passe</h2>
    
{%  endblock %}