{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1 class="page-header text-center">A SUPPRIMER UTIISER login.html.twig</h1>
{%  endblock %}
