{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1 class="page-header text-center">
        Créer une affaire
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Nouvelle affaire</h2>
        		{{ form_start(affaireForm) }}
        		{{ form_widget(affaireForm) }}
        		  <button type="submit" class="btn btn-primary">Créer</button>
        		{{ form_end(affaireForm) }}
	       </div>
	   </div>

    </div>
{%  endblock %}
