<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\css\pdf_generator.css">
        <link rel="stylesheet" href="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\css\styles.css">
    </head>

    <body>
        <div class="footer">
            {{ app.user.idOrganisme}}
            Emis par : {{ app.user }}
            Timestamp: {{ timestamp }}
        </div>
    </body>
</html>
