{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1>Erreur 404</h1>
    <div>
        La page que vous cherchez est introuvable :/
    </div>
{% endblock %}
