@font-face{
	font-family: 'titre';
	src : url(/fonts/airstrike/airstrikebullet.ttf) format("truetype");
}

.header{
	font-family: Nunito, Arial, Sans-Serif;
	color: white;
	font-size: 20px;
}

.visa-title{
	padding-left: 15px;
	font-size: 50px;
}
