@font-face{
	font-family: 'titre';
	src : url(/fonts/airstrike/airstrikebullet.ttf) format("truetype");
}

.header{
	font-family: 'titre', Arial, Sans-Serif;
	color:white;
	font-size: 20px;
}

.visa-title{
	font-size: 50px;
}
