<style type="text/css">
.text-center{
    text-align: center;
}
.container{
    margin-top: 8px;
    page-break-inside: avoid;
}
body{
    font-size: 15px;
}

tr {
    page-break-inside: avoid;
}

table{
    padding-top: 30px;
}

small{
    padding-left: 20px;
    font-style: italic;
}


.pdf-header{
    border-bottom-style: solid;
}

.lot{
    padding-top: 14px;
    color: red;
    font-style: italic;
}

.header-div {
	display: inline-block;
}

.logo-icon {
	display: inline-block;
    height: 80px;
    width: auto;
}

.footer-infos-organisme {
	list-style-type: none;
    text-align: center;
}

.header-right{
	float: right;
}

.header-infos-fiche {
	list-style-type: none;
	font-size: 20px;
}

.table-infos-fiche{
    display: inline-block;
    width: 30%;
    padding-left: 30px;
}

.legende{
    list-style-type: none;
}

td.td-visa{
    width: 60px;
}

.item{
    page-break-inside: avoid;
}
</style>
